In [1]:
import pandas as pd
import re # Regex

In [2]:
# Veriler "tutanak_party_csv" klasörünün içerisinde, hepsini ayrı ayrı çekiyorum

donem22 = pd.read_csv('tutanak_party_csv/22donem_all_party.csv')
donem23 = pd.read_csv('tutanak_party_csv/23donem_all_party.csv')
donem24 = pd.read_csv('tutanak_party_csv/24donem_all_party.csv')
donem25 = pd.read_csv('tutanak_party_csv/25donem_all_party.csv')
donem26 = pd.read_csv('tutanak_party_csv/26donem_all_party.csv')
donem27 = pd.read_csv('tutanak_party_csv/27donem_all_party.csv')

In [3]:
df = pd.concat([donem22, donem23, donem24, donem25, donem26, donem27]) # verileri 'df' DataFrame'inde birleştiriyorum
df.head()

,person,sentence,sentence_id,processed_sentence,document_name,date,party
0,AHMET IŞIK,"- Sayın Başkan, teşekkür ediyorum.",0,NaN,5/b051m,17.01.2007,AK Parti
1,AHMET IŞIK,"Sayın Bakanım, arama ruhsatlarındaki başlıca ...",1,bakan ruhsat başlıca,5/b051m,17.01.2007,AK Parti
2,AHMET IŞIK,Ruhsat alımına yönelik eleştiriler önlenebile...,2,ruhsat alım eleştiri,5/b051m,17.01.2007,AK Parti
3,AHMET IŞIK,Ruhsatların verilmesinde rekabet ve şeffaflık ...,3,ruhsat ver rekabet şeffaf sağ,5/b051m,17.01.2007,AK Parti
4,AHMET IŞIK,Ruhsat için verilen programa uymamanın müeyyid...,4,ruhsat ver program uy müeyyide,5/b051m,17.01.2007,AK Parti

In [4]:
words_pattern = r"[A-ZİÖÜĞÇŞa-zıöüğçş']\w+" # kelimeleri bölmek için regex pattern'ı

df['word_count'] = df['sentence'].apply(lambda x: len([word for word in re.findall(words_pattern, x)])) # 'sentence' sütununa regex uygulayarak 'word_count' sütunu oluşturuyor

In [5]:
df['date'] = pd.to_datetime(df['date']) # date sütununu pandas'ın datetime objesine çeviriyor
df['year'] = df['date'].dt.year # datetime objesi içerisinden yıl bilgisini alarak yeni bir sütun olarak ekliyor

In [6]:
df.head()

,person,sentence,sentence_id,processed_sentence,document_name,date,party,word_count,year
0,AHMET IŞIK,"- Sayın Başkan, teşekkür ediyorum.",0,NaN,5/b051m,2007-01-17,AK Parti,4,2007
1,AHMET IŞIK,"Sayın Bakanım, arama ruhsatlarındaki başlıca ...",1,bakan ruhsat başlıca,5/b051m,2007-01-17,AK Parti,7,2007
2,AHMET IŞIK,Ruhsat alımına yönelik eleştiriler önlenebile...,2,ruhsat alım eleştiri,5/b051m,2007-01-17,AK Parti,6,2007
3,AHMET IŞIK,Ruhsatların verilmesinde rekabet ve şeffaflık ...,3,ruhsat ver rekabet şeffaf sağ,5/b051m,2007-01-17,AK Parti,7,2007
4,AHMET IŞIK,Ruhsat için verilen programa uymamanın müeyyid...,4,ruhsat ver program uy müeyyide,5/b051m,2007-01-17,AK Parti,7,2007

In [7]:
df.groupby(['person', 'year'])['word_count'].sum() # isimlere ve yıllara göre gruplayarak kelime sayılarını topluyor

person        year
A. EDİP UĞUR  2007      81
              2011      10
A. EMİN ÖNEN  2011     617
              2012     557
              2013     596
                      ...
ŞİRİN ÜNAL    2017     176
              2018     967
              2019    1160
              2020     231
              2021       2
Name: word_count, Length: 17730, dtype: int64

In [8]:
pd.DataFrame(df.groupby(['person', 'year'])['word_count'].sum()).reset_index() # yukarıdakini DataFrame haline getiriyor

             person  year  word_count
0      A. EDİP UĞUR  2007          81
1      A. EDİP UĞUR  2011          10
2      A. EMİN ÖNEN  2011         617
3      A. EMİN ÖNEN  2012         557
4      A. EMİN ÖNEN  2013         596
...             ...   ...         ...
17725    ŞİRİN ÜNAL  2017         176
17726    ŞİRİN ÜNAL  2018         967
17727    ŞİRİN ÜNAL  2019        1160
17728    ŞİRİN ÜNAL  2020         231
17729    ŞİRİN ÜNAL  2021           2

[17730 rows x 3 columns]

In [9]:
word_count = pd.DataFrame(df.groupby(['person', 'year'])['word_count'].sum()).reset_index()
word_count.to_csv('word_count.csv', index=False) # Oluşturduğumuz DataFrame'i word_count.csv diye bir csv'ye export ediyor

In [10]:
df.groupby(['person', 'year'])['sentence'].count() #kelime ve insanlara göre gruplayarak 'sentence'ların sayısına bakıyor

person        year
A. EDİP UĞUR  2007     7
              2011     1
A. EMİN ÖNEN  2011    26
              2012    29
              2013    28
                      ..
ŞİRİN ÜNAL    2017    35
              2018    83
              2019    51
              2020    19
              2021     1
Name: sentence, Length: 17730, dtype: int64

In [11]:
pd.DataFrame(df.groupby(['person', 'year'])['sentence'].count()).reset_index() #yukarıdakini DataFrame haline getiriyor

             person  year  sentence
0      A. EDİP UĞUR  2007         7
1      A. EDİP UĞUR  2011         1
2      A. EMİN ÖNEN  2011        26
3      A. EMİN ÖNEN  2012        29
4      A. EMİN ÖNEN  2013        28
...             ...   ...       ...
17725    ŞİRİN ÜNAL  2017        35
17726    ŞİRİN ÜNAL  2018        83
17727    ŞİRİN ÜNAL  2019        51
17728    ŞİRİN ÜNAL  2020        19
17729    ŞİRİN ÜNAL  2021         1

[17730 rows x 3 columns]

In [12]:
sentence_count = pd.DataFrame(df.groupby(['person', 'year'])['sentence'].count()).reset_index()
sentence_count.to_csv('sentence_count.csv', index=False) # Oluşturduğumuz DataFrame'i sentence_count.csv diye bir csv'ye export ediyor

In [32]:
document_count = pd.DataFrame(df.groupby(['person', 'year'])['document_name'].nunique()).reset_index()

In [33]:
document_count.head()

         person  year  document_name
0  A. EDİP UĞUR  2007              1
1  A. EDİP UĞUR  2011              1
2  A. EMİN ÖNEN  2011              1
3  A. EMİN ÖNEN  2012              2
4  A. EMİN ÖNEN  2013              1

In [34]:
document_count.to_csv('document_count.csv', index=False)

In [38]:
document_count['document_name'].max()

125